<mat-card>
    <mat-action-list>
        <div mat-subheader>Menu</div>
        <button mat-list-item
        routerLink="/user"
        >
            <mat-icon mat-list-icon>dashboard</mat-icon>
            Dashboard
        </button>
        <button mat-list-item
        routerLink="/user/profile"
        >
            <mat-icon mat-list-icon>badge</mat-icon>
            Profile
        </button>
        
        <button mat-list-item >
            <mat-icon mat-list-icon>event_note</mat-icon>
            Leave Manager
        </button>

        <button mat-list-item>
            <mat-icon mat-list-icon>receipt_long</mat-icon>
            Payroll Slip
        </button>
    </mat-action-list>
</mat-card>